@import "../../sass/main.scss";

.basket {
  p {
    margin: 1rem 0;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
  }

  &__checkboxes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;

    @include respond(phone) {
      flex-direction: column;
      margin-right: 0;
    }
  }
}
