@import "../../sass/main.scss";

.product {
  width: 220px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__content {
    flex: 1;
  }

  &__area {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__text {
    height: 100px;
    overflow: hidden;
  }
}
