@import "../../sass/main.scss";

.payment {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include respond(phone) {
    width: 100%;
  }

  & > *:not(:first-child) {
    margin-top: 1rem;
  }
}
