.category {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 3rem auto;

    & > * {
      width: 100%;
    }

    & > *:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
