@import "../../sass/main.scss";

.login {
  width: 50%;
  margin: 0 auto;

  @include respond(phone) {
    width: 80%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 3rem auto;

    & > * {
      width: 100%;
    }

    & > *:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
