$color-primary: #ba68c8;
$color-primary-light: #ee98fb;
$color-primary-dark: #9e579d;

$color-card: #f3558e;
$color-card-text: #faee1c;

$color-hover-dark: #581b98;

$color-secondary: #4fc3f7;
$color-secondary-light: #8bf6ff;
$color-secondary-dark: #0093c4;

$color-tertiary: #ff80ab;
$color-tertiary-light: #ffb2dd;
$color-tertiary-dark: #c94f7c;

$color-grey: #757575;
$color-grey-light: #a4a4a4;
$color-grey-dark: #494949;

$color-white: white;
$color-light: #f4f4f4;

$material-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
