@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
  0 - 600px:        Phone
  600 - 900px:      Tablet portrait
  900 - 1200px:     Tablet landscape
  [1200 - 1800px]:  Standart styles
  1800px:           Big destop
  
  ORDER: Base + typography > general layout + grid >page layout > components
  */

/*
  $breakpoint argument choices:
  - phone
  - tab-port
  - tab-land
  - big
  
  1em == 16px
  */
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == phone-land {
    @media (max-height: 500px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
