.home {
  height: 100%;
  margin-top: 1rem;
  padding-bottom: 2rem;

  &__pages {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
}
