@import "../../sass/main.scss";

.footer {
  background-color: $color-primary-dark;
  color: $color-light;
  margin-top: 4rem;
  padding: 4rem 0;
  clip-path: polygon(0 0, 100% 48%, 100% 100%, 0% 100%);

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__left,
  &__right {
    p {
      line-height: 26px;
    }
  }

  &__left {
    margin-top: 1rem;
  }

  &__right {
    height: 100%;
    text-align: right;

    @include respond(phone) {
      text-align: left;
    }
  }

  &__social {
    margin-top: 2rem;
    line-height: 32px;

    @include respond(phone) {
      margin-bottom: 1rem;
    }

    p {
      font-size: 18px;
      margin-bottom: 1rem;
    }

    a {
      font-size: 32px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &:hover {
        color: $color-hover-dark;
      }
    }
  }
}
