@import "../../sass/main.scss";

.shipping {
  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &__privacy {
    color: $color-primary;
    font-weight: 700;
    transition: all 0.3 ease-in;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__actions {
    margin-top: 2rem;
  }

  & > div:first-child {
    width: 48%;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 100%;
    }

    & > *:not(:first-child) {
      margin-top: 1rem;
    }
  }

  & > div:last-child {
    width: 48%;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      margin-top: 1rem;
      width: 100%;
    }
  }
}
