@import "../../sass/main.scss";

.header {
  height: $height-header;
  position: relative;
  border-bottom: 1px solid $color-grey-dark;
  width: 100%;
  margin-bottom: 6rem;

  @include respond(phone) {
    height: $height-header-mobile;
  }

  &__logo {
    height: 8rem;
    position: absolute;
    bottom: 0;
    left: 4rem;
    transform: translateY(50%);
    border-radius: 50%;
    border: 1px solid $color-grey-dark;
    background-color: $color-light;
    z-index: 1000;
    animation: blur-in 1.5s ease-out;
  }

  &__nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > *:not(:first-child) {
      margin-left: 1rem;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.drawer {
  margin: 5rem 2rem;
  width: 10rem;

  &__sub {
    padding-left: 1.5rem;
    color: $color-primary-dark;
    font-weight: 700;
  }
}
