.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.flex-justified {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.flex-start {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.col {
  display: flex;
  flex-direction: column;

  & > *:not(:first-child) {
    margin-top: 1rem;
  }
}
